@model Forum.Models.SignInViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
</head>
<body>
    <div>
        <a href="/Home/Index" style="display:none" id="indexLink"></a>
        @Html.Partial("~/Views/shared/_HeadViewPartial.cshtml")

        <!--Вход-->

        <div class="modal-dialog container-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="entryModalLabel">Вход</h4>
                </div>
                @using (Ajax.BeginForm("Login", "User", new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "OnSuccessLoginAjax",

            }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-error" })
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Login, new { @class = "text-strong" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                                <br />

                                @Html.ValidationMessageFor(m => m.Login, null, new { @class = "text-error" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, new { @class = "text-strong" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-error" })
                                <br>
                                <span id="error_message_authorize" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RememberMe, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.RememberMe, new { @class = "form-control" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.RememberMe, null, new { @class = "text-error" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default btn-info" value="Войти" />
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>
